<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alvin Wen's profile pages</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <nav class="flex-nav">
        <ul>
          <li><a href="">Background</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Resume</a></li>
          <li><a href="">Contact Info</a></li>
          <li class="social">
            <a href="https://www.linkedin.com/in/alvinwen424/"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="social">
            <a href="http://github.com/alvinwen424"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </nav>
      <div class="picture">
        <img src="tester.jpg">
      </div>
      <div class="about">
        <p>

          Before setting my mind on becoming a Javascript Developer, I was a research assistant in Research Institute of Addiction(RIA). I wanted more of a challenge to my career. A career that constantly evolves and puts my skills to test. I realized my true passion to be a Fullstack developer during my fellowship at Fullstack Academy, where I was constantly confronted with new libraries/technologies. Knowing that there are an endless amount to learn in the engineering community, further solidifies my goals to be an excellent developer.
        </p>
        <p>
          Proficient: Javascript, React, Redux, GraphQL, Apollo, Express, Node.js <br>
          Knowledgeable: Sequelize, bootstrap, HTML5, CSS3, React-Native, MongoDB, Mongoose, Jquery
        </p>
      </div>
      <div class="projects">
          <a href="">Ngage</a></li>
          <a href="">Community Housing</a></li>
          <a href="">Food Race</a></li>
          <a href="">Song-it</a></li>
      </div>
    </div>
  </body>

</html>
