html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: white;
  color:#515769;
}

.flex-nav a {
  color:#21ce99;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:white;
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

.content p {
  color: #a6a7aa;
}

.picture img {
  width:100%;
}

img {
  direction: flex;
  width: 50%;
}

.picture-name {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  font-family: "Alegreya",serif;
  color:white;

}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section, .footer {
  display: flex;
  color: #515769;
}

.footer h2 {
  flex:2;
}

.footer div{
  flex-direction: column;
  flex:1;
  color:#21ce99;
}

/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex:3;
}

.flex-nav social {
  flex:1;
}

.about {
    font-weight: normal !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
}

.about {
  display:flex;
  align-content: center;
  background-color:#fafafa;
  padding:20px;
  border:20px;
}

.about .title{
  flex:1;
}

.about .content{
  flex:2;
}


@media all and (max-width:1000px) {

.flex-nav ul {
  flex-wrap:wrap;
}

.flex-nav li {
  flex:1 1 50%;
}

.flex-nav social {
  flex:1 1 25%;
}

}

@media all and (max-width:500px) {

.flex-nav li {
  flex-basis:100%;
}

}

/*------------------------------------------------------------------
  	[Work]
------------------------------------------------------------------*/
/* Overlay */

#work {
  display:flex;
  flex-direction: column
}


#work .row {
  flex:1;
  align-content: space-around;
}

.work {
  position: relative;
  display: block;
}

.work .work-overlay {
  position: relative;
  cursor: pointer;
  flex:1;
}

.work .work-overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  content: " ";
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work:hover .work-overlay:before {
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Popup */
.work .work-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
  background: rgba(81, 87, 105, 0.4);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-overlay-show {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 730px;
  height: auto;
  display: block;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.work .work-popup-content-divider {
  border-right: 1px solid #cdcecf;
}

@media (max-width: 768px) {
  .work .work-popup-content {
    width: 95%;
  }
  .work .work-popup-content-divider {
    border-right: none;
    border-bottom: 1px solid #cdcecf;
  }
}

.work .work-popup-close {
  float: right;
  font-size: 13px;
  font-weight: 700;
  color: #c5c6cb;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-close:hover {
  color: #aaacb3;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Tag */
.work .work-popup-tag {
  margin: 0;
}

.work .work-popup-tag-item {
  padding: 0 2px;
}

.work .work-popup-tag-link {
  font-size: 13px;
}
