html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: white;
}

.flex-nav a {
  color:#484848;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:#fafafa;
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

.projects {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects a {
  color:#484848;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.4);
  padding:20px 5px;
  min-width:50%;
  text-align: center;
  transition:all 0.25s;
  min-height: 300px;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}

img {
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section, footer {
  text-align: center;
  background:rgba(0,0,0,0.2);
  padding:20px;
  margin:20px 0;
  color:black;
  font-weight: 100;
}

/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex:3;
}

.flex-nav social {
  flex:1;
}

.about {
    font-weight: normal !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
}

.about {
  display:flex;
  align-content: center;
  background-color:#fafafa;
}

.about .title{
  flex:1;
}

.about .content{
  flex:2;
}


@media all and (max-width:1000px) {

.flex-nav ul {
  flex-wrap:wrap;
}

.flex-nav li {
  flex:1 1 50%;
}

.flex-nav social {
  flex:1 1 25%;
}

}

@media all and (max-width:500px) {

.flex-nav li {
  flex-basis:100%;
}

}
